@model Web.Models.WorkIssue

<div id="Create" class="row">
    @using (Ajax.BeginForm("Create", "WorkIssues", FormMethod.Post,
        new AjaxOptions
        {
            HttpMethod = "POST", UpdateTargetId = "Create", InsertionMode = InsertionMode.Replace
        }, 
        null))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => Model.ProjectId)
        @Html.HiddenFor(model => Model.JobId)
        @Html.HiddenFor(model => Model.ParentId)

        <h5>Thêm việc: </h5>
        <hr />
        @Html.TextArea("Content", new { @id = "Content", AllowHtmlAttribute = new { @class = "form-control" } })
        <script>
            CKEDITOR.replace('Content');
        </script>
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

        <p>
            <input type="submit" value="Create" class="btn btn-outline-primary" />
        </p>
    }
</div>