@using CafeT.Text
@using CafeT.Time
@using System.Globalization

@model Web.Models.IssueView

<div class="card-box kanban-box">
    @if (Model.IsRepeat())
    {
        <span class="label label-danger pull-right">@Model.Repeat</span>
    }
    @if (Model.Title != null && Model.Title.Length > 0)
    {
        <div class="row">
            <a href="#">@Html.ActionLink(Model.Title, "Details", "WorkIssues", new { id = Model.Id }, null)</a>
        </div>
        <div class="row">
            @if (Model.End.HasValue)
            {
                <span class="label label-success pull-left">@Model.End.Value.ToShortTimeString()</span>
                @Html.Raw(" ")
            }
            <span class="label label-primary pull-left">@Model.End.Value.ToShortDateString()</span>
            @if (Model.End.Value.CompareTo(DateTime.Today) < 0)
            {
                <span class="label label-danger pull-left">Trễ hạn</span>
            }
            else
            {
                <span class="label label-info pull-left">Đúng hạn</span>
            }
            @if (Model.Price > 0)
            {
                <span class="label label-danger pull-right">@Model.Price (VND)</span>
            }
            else
            {
                <span class="pull-right">
                    @Ajax.ActionLink("Add price", "AddPrice", "WorkIssues", new { issueId = Model.Id },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Update-" + Model.Id.ToString(),
                                HttpMethod = "Get",
                            }, null) (VND)
                </span>
            }
            @if (Model.IssueEstimation > 0)
            {
                <span class="label label-success pull-right">@Model.IssueEstimation phút</span>
            }
        </div>
    }
    
</div>