@using CafeT.Objects.Enums;
@model Web.ModelViews.IssueView

<div class="small">
    @if (User.Identity.IsAuthenticated)
    {
        <div id="notify-@Model.Id.ToString()"></div>
        if (!Model.IsCompleted())
        {
            @Ajax.ActionLink("Done", "MarkStatus", "WorkIssues", new { id = Model.Id, status = "Done" },
                                                                  new AjaxOptions
                                                                  {
                                                                      UpdateTargetId = "notify-" + Model.Id.ToString(),
                                                                      HttpMethod = "Post",
                                                                  }, null)
            @Html.Raw(" | ")
            @Ajax.ActionLink("Add time", "AddTimeToDo", "WorkIssues", new { id = Model.Id },
                                                           new AjaxOptions
                                                           {
                                                               UpdateTargetId = "notify-" + Model.Id.ToString(),
                                                               HttpMethod = "Get",
                                                           }, null)
        }
        if (!Model.IsVerified)
        {
            @Ajax.ActionLink(" | Verify", "Verify", "WorkIssues", new { id = Model.Id },
                                                              new AjaxOptions
                                                              {
                                                                  UpdateTargetId = "notify-" + Model.Id.ToString(),
                                                                  HttpMethod = "Post",
                                                              }, null)
        }
        if (Model.IsCompleted())
        {
            @Ajax.ActionLink("Re-Open", "MarkStatus", "WorkIssues", new { id = Model.Id, status = IssueStatus.ReOpen },
                                                                  new AjaxOptions
                                                                  {
                                                                      UpdateTargetId = "notify-" + Model.Id.ToString(),
                                                                      HttpMethod = "Post",
                                                                  }, null)
        }
        <span id="ActionTime-@Model.Id.ToString()">
            @Ajax.ActionLink(" | Set Time", "SetWorkOnTime", "WorkIssues", new { id = Model.Id },
                                                             new AjaxOptions
                                                             {
                                                                 UpdateTargetId = "ActionTime-" + Model.Id.ToString(),
                                                                 HttpMethod = "Get",
                                                                 InsertionMode = InsertionMode.Replace
                                                             }, null)
        </span>
        @Ajax.ActionLink(" | Hỏi", "AddQuestion", "Questions",
                   new { issueId = Model.Id },
                   new AjaxOptions
                   {
                       UpdateTargetId = "notify-" + Model.Id.ToString(),
                       HttpMethod = "Get",
                   }, null)
    }
</div>
