@model PagedList.IPagedList<Web.ModelViews.IssueView>
@using PagedList.Mvc
@using Web.ModelViews

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div id="issues-expired">
    <div class="card border-success">
        @{
            var issues = (IEnumerable<IssueView>)ViewBag.ExpiredIssues;
            <div class="card-header">
                Expired
                <span class="badge badge-danger">
                    @issues.Count()
                </span>
                <span class="badge badge-danger">
                    @{
                        var time = issues.Sum(t => t.IssueEstimation) / 60;
                        @Html.Raw(time.ToReadable() + " (h)");
                    }

                </span>
                <span class="small badge badge-primary">
                    @issues.Sum(t => t.Price).ToReadable() (VND)
                </span>
            </div>
        }
    </div>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">

                @Html.Partial("Issues/_IssueItemExpired", item)
            </li>
        }
    </ul>
    <div class="panel-footer">
        @Html.PagedListPager(Model, page => Url.Action("GetExpiredIssues", new { page }),
                                     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                                     {
                                         Display = PagedListDisplayMode.IfNeeded,
                                         MaximumPageNumbersToDisplay = 5
                                     },
                                     new AjaxOptions
                                     {
                                         InsertionMode = InsertionMode.Replace,
                                         HttpMethod = "Get",
                                         UpdateTargetId = "issues-expired",
                                         LoadingElementId = "divProcessing"
                                     }))
    </div>
</div>



