@using PagedList.Mvc
@using Web.ModelViews
@model PagedList.IPagedList<Web.ModelViews.IssueView>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var items = Model.OrderBy(t => t.Start.Value).AsEnumerable();
<div id="Today">
    <div class="card border-success">
        @{
        var issues = (IEnumerable<IssueView>)ViewBag.TodayIssues;
        <div class="card-header">
            Today
            <span class="badge badge-danger">
                @issues.Count()
            </span>
            <span class="badge badge-danger">
                @{
                var time = issues.Sum(t => t.IssueEstimation) / 60;
                @Html.Raw(time.ToReadable() + " (h)");
                }

            </span>
            <span class="small badge badge-primary">
                @issues.Sum(t => t.Price).ToReadable() (VND)
            </span>
        </div>
        }
    </div>
    <ul class="list-group">
        @foreach (var item in items)
    {
        if (!item.IsCompleted())
        {
            <li class="list-group-item">
                @Html.Partial("Issues/_ItemToday", item)
            </li>
    }

}
    </ul>
    <div class="panel-footer">
        @Html.PagedListPager(Model, page => Url.Action("GetTodayIssues", new { keyword = ViewBag.Keyword, page }),
                      PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                      {
                          Display = PagedListDisplayMode.IfNeeded,
                          MaximumPageNumbersToDisplay = 5
                      },
                      new AjaxOptions
                      {
                          InsertionMode = InsertionMode.Replace,
                          HttpMethod = "Get",
                          UpdateTargetId = "Today",
                          LoadingElementId = "divProcessing"
                      }))
    </div>
</div>
}




