@model Web.ModelViews.IssueView

@if (Model.IsToday())
{
    <span class="badge badge-danger">Hôm nay</span>
}
@Html.ActionLink(Model.Title, "Details", "WorkIssues", new { id = Model.Id }, null)
<span class="badge badge-danger">@Model.Status</span>
<br />
<div class="small">
    @Model.Start.Value.ToShortDateString().DeleteEndTo("/") |
    @Model.Start.Value.ToShortTimeString() - @Model.End.Value.ToShortTimeString()
    <span class="small badge badge-success">@Model.IssueEstimation (m)</span>
    <span>@Model.Price.ToReadable() (VND)</span>
    @if (Model.IsVerified)
    {
        <span class="small material-icons">verified_user</span>
    }
</div>
<hr />
<div id="Status-@Model.Id.ToString()" class="container"></div>

@Html.Partial("Issues/_IssueMenu", Model)

<div id="Update-@Model.Id.ToString()"></div>
