@model Web.ModelViews.IssueView

<div class="small">
    @Model.Start.Value.ToShortTimeString() - @Model.End.Value.ToShortTimeString() |
    <span>@Model.IssueEstimation (phút)</span>
    <span>@Model.Price.ToReadable() (VND)</span>
    @if (Model.IsVerified)
    {
        <span class="small material-icons">verified_user</span>
    }
</div>

@Html.ActionLink(Model.Title, "Details", "WorkIssues", new { id = Model.Id }, null)
<span class="badge badge-danger pull-right">@Model.Status</span>
<span class="badge badge-success pull-right">@Model.End.Value.ToShortDateString()</span>
<hr />
<div id="Status-@Model.Id.ToString()" class="container"></div>

@Html.Partial("Issues/_IssueMenu", Model)
