@model Web.Models.WorkIssue




<div class="row">
    @using (Html.BeginForm("Create", "WorkIssues", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => Model.Id)
        @Html.HiddenFor(model => Model.ProjectId)
        @Html.HiddenFor(model => Model.JobId)

        <h5>Thêm việc: </h5>
        <hr />
        @Html.TextArea("Content", new { @id = "Content", AllowHtmlAttribute = new { @class = "form-control" } })
        <script>
            CKEDITOR.replace('Content');
        </script>
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

        <p>
            <input type="submit" value="Create" class="btn btn-outline-primary" />
        </p>
    }
</div>
