@model Mvc5.CafeT.vn.Models.IndexViewModel
@using Mvc5.CafeT.vn.Models;

@{
    ViewBag.Title = "Quản lý tài khoản";
}
@*<script type="text/javascript">
    $.get('@Url.Action("GetAllUnPublishedByUser", "Articles", new { view="Articles/_ArticleTitles" } )',
        function (data) {
            $('#Update-List').html(data);
        });
</script>*@
@*<script type="text/javascript">
        $.get('@Url.Action("GetNews", "Questions", new { n = 10 } )', function (data) {
            $('#Questions').html(data);
        });
</script>*@
<div class="col-md-12">
    <div class="widget">
        <div class="widget-title">
            <h4>Quản lý tài khoản</h4>
            <hr>
        </div>
        <div class="review-posts row m30">
            <p class="text-success">@ViewBag.StatusMessage</p>

            <div class="col-md-3">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.Partial("Menus/_AdminMenu")
                    }
                    @Html.Partial("Menus/_UserMenu")
                }
            </div>

            <div class="col-md-9">
                <div class="container-fluid">
                    @Html.Partial("_UserProfile", (ApplicationUser)ViewBag.User)
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        @Ajax.ActionLink("Articles (Đã xuất bản)", "GetAllPublished", "Articles", null,
                          new AjaxOptions
                          {
                              UpdateTargetId = "Update-List",
                              InsertionMode = InsertionMode.Replace,
                              HttpMethod = "Post"
                          }, null)
                    </li>
                    <li class="nav-item">
                        @Ajax.ActionLink("Articles (Chưa xuất bản)", "GetAllUnPublished", "Articles", null,
                          new AjaxOptions
                          {
                              UpdateTargetId = "Update-List",
                              InsertionMode = InsertionMode.Replace,
                              HttpMethod = "Post"
                          }, null)
                    </li>
                </ul>
                <div id="Update-List"></div>
            </div>
        </div>
    </div>
    <div id="Questions"></div>
</div><!-- end col -->