<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Smart Tracking</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/Templates/Gentelella Alela/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Templates/Gentelella Alela/fonts/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Templates/Gentelella Alela/css/animate.min.css")" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="@Url.Content("~/Content/Templates/Gentelella Alela/css/custom.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Templates/Gentelella Alela/css/icheck/flat/green.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/Templates/Gentelella Alela/js/jquery.min.js")"></script>

</head>
<body style="background:#F7F7F7;">
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            @RenderBody()
        </div>
    </div>
</body>
</html>
