@model Web.Models.Question

<script type="text/javascript">
$(function () {
    $("#Keyword").autocomplete({
            source: function (request, response) {
                var itemnamecodes = new Array();
                $.ajax({
                    async: false, cache: false,
                    type: "Get",
                    url: "@(Url.Action("Find", "Contacts"))",
                    data: { keyword: request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            itemnamecodes[i] = { label: data[i].Email, Id: data[i].Id };
                        }
                     }
                });
                response(itemnamecodes);
            },
             @*select: function (event, ui) {
                 $.ajax({
                     cache: false, async: false, type: "POST",
                     url: "@(Url.Action("Find", "Contacts"))",
                     data: { "id": ui.item.Id },
                    success: function (data) {
                        var item = data[0];
                        $("#ItemName").val(item.ItemName);
                        $("#ItemModel").val(item.ItemModel);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }*@
    });
});
</script>
<div id="@Model.Id.ToString()">
    @using (Ajax.BeginForm("AjaxCreate", "Questions", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = @Model.Id.ToString(),
        InsertionMode = InsertionMode.Replace
    },
    null))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => Model.Id)
        @Html.HiddenFor(model => Model.IssueId)
        @Html.HiddenFor(model => Model.ArticleId)
        @Html.HiddenFor(model => Model.JobId)
        @Html.HiddenFor(model => Model.CreatedDate)
        <div class="card-box">
            <textarea id="Content" name="Content" rows="2" class="form-control" 
                      placeholder="Bạn muốn hỏi gì?"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>


