@model Web.Models.Question

<div class="col-md-12">
    @if (!Model.Title.IsNullOrEmptyOrWhiteSpace())
    {
        @Html.ActionLink("{?} : " + @Model.Title, "Details", "Questions", new { id = Model.Id }, null)
    }
    <hr />
    <div class="small">
        @Model.CreatedBy : @Model.CreatedDate.Value.TimeAgo()
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        
            @Ajax.ActionLink("Trả lời", "Create", "Answers", new { questionId = Model.Id },
                                                          new AjaxOptions
                                                          {
                                                              UpdateTargetId = "Insert-" + Model.Id.ToString(),
                                                              HttpMethod = "Get",
                                                              InsertionMode = InsertionMode.Replace
                                                          }, new { @class = "card-link" })
            @Ajax.ActionLink("Translate", "Translate", "Questions", new { id = Model.Id },
                                                              new AjaxOptions
                                                              {
                                                                  UpdateTargetId = "Insert-" + Model.Id.ToString(),
                                                                  HttpMethod = "Get",
                                                              }, new { @class = "card-link" })

            if (Model.IsOf(User.Identity.Name) || User.IsInRole("Admin"))
            {
                @Ajax.ActionLink(" Xóa ", "Delete", "Questions", new { id = Model.Id },
                                                      new AjaxOptions
                                                      {
                                                          UpdateTargetId = Model.Id.ToString(),
                                                          HttpMethod = "Post",
                                                          InsertionMode = InsertionMode.Replace
                                                      },
                                                      new { @class = "card-link" })
            }
        

    }
    <div id="@Model.Id.ToString()"></div>
    <div id="Insert-@Model.Id.ToString()"></div>
    <div id="answers-box-@Model.Id.ToString()"></div>
</div>