@using Web.Models
@model Web.Models.Question


<div class="comment">
    <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
    <div class="comment-body">
        <div class="comment-text">
            <div class="comment-header">
                <a href="#" title="">@Model.CreatedBy</a>
                <span>
                    @Model.CreatedDate.Value.TimeAgo()
                </span>
                <span>@Model.Title</span>
            </div>
            @Html.Raw(Model.Content)
            @if (Model.Answers != null)
            {
                foreach (var _answer in Model.Answers)
                {
                    if (_answer != null)
                    {
                        <div class="comment-text">
                            @Html.Raw(_answer.Content)
                        </div>
                    }
                }
            }
            
        </div>

        <div class="comment-footer">
            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
            @Html.ActionLink("Reply", "Create", "Answers", new { questionId = Model.Id }, null)
            @Html.Partial("_AddAnswer", new Answer() { QuestionId = Model.Id })
        </div>
    </div>
</div>
