@model IEnumerable<Mvc5.CafeT.vn.Models.FileModel>

@if (Model != null && Model.Count() > 0)
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            if (!item.IsImage())
            {
                <li class="list-group-item">
                    @if (!item.AvatarPath.IsNullOrEmptyOrWhiteSpace())
                    {
                        <img src="@item.AvatarPath" />
                    }
                    @if (!item.Title.IsNullOrEmptyOrWhiteSpace())
                    {
                        @Html.ActionLink(item.Title, "Details", "FileModels", new { id = item.Id }, null)<br />
                    }
                    else if (!item.FileName.IsNullOrEmptyOrWhiteSpace())
                    {
                        @Html.ActionLink(item.FileName, "Details", "FileModels", new { id = item.Id }, null)<br />
                    }
                    @if (item.UpdatedDate.HasValue && item.UpdatedDate.Value.AddDays(3) >= DateTime.Now)
                    {
                        <span class="label label-danger">Mới</span>
                    }
                    else if (item.CreatedDate.AddDays(3) >= DateTime.Now)
                    {
                        <span class="label label-danger">Mới</span>
                    }
                    <p>
                        @Html.Raw(item.Description)
                    </p>

                    <span>
                        @Html.Partial("Files/_FileInfo", item)
                    </span>
                    <p>
                        @Html.Partial("Files/_FileMenu", item)
                    </p>
                </li>
            }

        }
    </ul>
}