@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Uh-oh, an error occurred/";
}

<h2>One of us broke the site!</h2>
Secrect File: @ViewBag.SecrectFile
@if (Model != null)
{
    <h3>@Model.Exception.GetType().Name</h3>
    <pre>
        @Model.Exception.ToString()
    </pre>
    <p>
        thrown in @Model.ControllerName @Model.ActionName
    </p>
}