@using CafeT.Text
@using CafeT.Time
@using System.Globalization

@model Web.Models.WorkIssue

@if (Model.IsUpcoming(0))
{
    <div class="card-box kanban-box">
        @*<div class="checkbox-wrapper">
            <div class="checkbox checkbox-success checkbox-single">
                <input type="checkbox" id="singleCheckbox2" value="option2"
                       aria-label="Single checkbox Two">
                <label></label>
            </div>
        </div>*@
        <div class="kanban-detail">
            <span class="label label-danger pull-right">@Model.End.Value.ToShortTimeString()</span>
            @if (Model.Title != null && Model.Title.Length > 0)
            {
                <h4><a href="#">@Html.ActionLink(Model.Title, "Details", new { id = Model.Id }, null)</a> </h4>
            }
            @if (Model.TimeToDo.HasValue)
            {
                <span class="label label-success pull-right">@Model.TimeToDo.Value phút</span>
            }
            @if (User.Identity.IsAuthenticated)
            {
                @Ajax.ActionLink("Now in (10m) ", "SetWorkOnTime", "WorkIssues", new { Id = Model.Id, date = DateTime.Now.AddMinutes(10) },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Update-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-default" })
                @Ajax.ActionLink("Today ", "SetWorkOnTime", "WorkIssues", new { Id = Model.Id, date = DateTime.Now.SetStartWorkingTime() },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Update-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-default" })
            }
            <div id="Update-@Model.Id"></div>
            <ul class="list-inline m-b-0">
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top"
                       title="" data-original-title="Username">
                        <img src="assets/images/users/avatar-2.jpg" alt="img"
                             class="thumb-sm img-circle">
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top"
                       title="" data-original-title="5 Tasks">
                        <i class="zmdi zmdi-format-align-left"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top"
                       title="" data-original-title="3 Comments">
                        <i class="zmdi zmdi-comment-outline"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
