@using CafeT.Text
@using CafeT.Time
@using System.Globalization

@model Web.Models.Job

@if (Model.Title != null && Model.Title.Length > 0)
{
    @Html.ActionLink(Model.Title, "Details", "Jobs", new { id = Model.Id }, null)<br />
    <span class="badge badge-danger">@Model.Status</span>
    <span class="badge badge-success">@Model.Salary.Amout.ToReadable() (@Model.Salary.Currency)/tháng</span>
    if (Model.End.HasValue)
    {
        <span class="badge badge-info">@Model.End.Value.TimeAgo()</span>
        @Html.Raw(" ")
    }
}
<p>
    @Html.Raw(Model.Description)
</p>
@Html.Partial("Jobs/_JobMenu", Model)