@model Web.Models.Article
@using Web.Models
<script type="text/javascript">
    $.get('@Url.Action("GetDocuments", "Articles", new { articleId = Model.Id.ToString()})',
        function (data) {
            $('#documents-box').html(data);
        });
</script>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Html.Raw(Model.Title)</h4>
<div class="small">
    @Model.CreatedBy at @Model.CreatedDate.Value.TimeAgo()
</div>
@Html.Raw(Model.Description)
<hr />
@Html.Raw(Model.Content)
<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsOf(User.Identity.Name) || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", "Articles", new { id = Model.Id }, null)
            @Html.ActionLink(" | Delete", "Delete", "Articles", new { id = Model.Id }, null)
        }

        @Html.Partial("GoogleDrives/_UploadFile", new Document() { ArticleId = Model.Id })
    }
</p>
<div id="documents-box"></div>