@using Web.ModelViews
@model Web.Models.Contact

<div class="card-title">
    @if (!Model.FirstName.IsNullOrEmptyOrWhiteSpace())
    {
        @Model.LastName @Html.Raw(" ") @Model.FirstName
    }
    else
    {
        @Model.Email
    }
    <span class="badge badge-success">@Model.CreatedDate.Value.TimeAgo()</span>
    <br />
    @if (!Model.OfficeName.IsNullOrEmptyOrWhiteSpace())
    {
        @Html.Raw("Office: " + Model.OfficeName)
    }
</div>