@model Mvc5.CafeT.vn.Models.UrlModel

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
        $.get('@Url.Action("ReadUrl", "Urls", new { id = Model.Id } )', function (data) {
            $('#HtmlContent').html(data);
        });
</script>

<h2>Details</h2>

<div>
    <h4>WebPageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div id="Nodes" class="col-md-3"></div>
<div id="HtmlContent" class="col-md-9"></div>
<p>
    @Html.ActionLink("Edit", "Edit", "Urls", new { id = Model.Id }, null) |
    @Html.ActionLink("Save as WebPage", "Create", "WebPage", new { url = Model.Url }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
