@model Web.Models.Question

@{
    ViewBag.Title = Model.Title;
}
<script type="text/javascript">
    $.get('@Url.Action("LoadIssue", "WorkIssues", new { id = Model.IssueId})',
        function (data) {
            $('#issue-box').html(data);
        });
</script>

<div class="row">
    <div class="col-md-8">
        <div class="card-title">@Html.Raw(Model.Title)</div>
        <hr />
        <div class="card-text">@Html.Raw(Model.Content)</div>
        <div class="small">
            @Html.Raw(Model.CreatedDate) by @Model.CreatedBy
        </div>
        <div class="card-link">
            @if (User.Identity.IsAuthenticated)
            {
                if (Model.IsOf(User.Identity.Name))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", "Questions", new { id = Model.Id }, null) @Html.Raw(" | ")
                }

                @Html.ActionLink("Back to List", "Index")
                @Html.Raw(" | ")
                @Ajax.ActionLink("Trả lời", "Create", "Answers", new { questionId = Model.Id },
                                                                          new AjaxOptions
                                                                          {
                                                                              UpdateTargetId = "CreateAnswer",
                                                                              HttpMethod = "Get",
                                                                              InsertionMode = InsertionMode.Replace
                                                                          }, new { @class = "card-link" })
            }
        </div>

        <div id="CreateAnswer"></div>
        <p>
            @Html.Partial("Answers/_Answers", Model.Answers)
        </p>
    </div>
    <div class="col-md-4">
        <div id="issue-box"></div>
    </div>
</div>


