@using Web.ModelViews
@model Web.Models.Contact

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    $.get('@Url.Action("GetIssuesOf", "WorkIssues", new { email = Model.Email })',
        function (data) {
            $('#issues-box').html(data);
        });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="card-title">
            @if (!Model.LastName.IsNullOrEmptyOrWhiteSpace())
            {
                @Html.Raw(Model.LastName)
                @Html.Raw(" ")
            }
            @if (!Model.FirstName.IsNullOrEmptyOrWhiteSpace())
            {
                @Html.Raw(Model.FirstName)
            }
            @Html.Raw(Model.Email) | @Html.Raw(Model.HomePhone) | @Html.Raw(Model.MobilePhone)
        </div>
        <div class="card-text">
            @Html.Raw(Model.About)
        </div>
        <div class="card-link">
            @Html.Partial("Contacts/_ContactMenu")
        </div>
    </div>
    
</div>
<div id="issues-box"></div>

