@using Web.Models
@model IEnumerable<Web.ModelViews.IssueView>

@{
    ViewBag.Title = "WorkCard.vn - AI for Work";
}


<div class="row">
    <div class="col-md-12">
        @Html.Partial("Issues/_QuickCreateIssue", new WorkIssue() { })
    </div>
    <div class="col-md-12">
        @if (Model != null && Model.Count() > 0)
        {
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">

                        @if (item.IsToday())
                        {
                            <span class="badge badge-danger">Hôm nay</span>
                        }
                        @Ajax.ActionLink(item.Title, "Details", "WorkIssues", new { id = item.Id },
                                              new AjaxOptions
                                              {
                                                  UpdateTargetId = "details",
                                                  HttpMethod = "Get",
                                                  InsertionMode = InsertionMode.Replace
                                              }, null)
                        <span id="status-@item.Id.ToString()" class="badge badge-danger pull-right">@item.Status</span>
                        <span class="badge badge-info pull-right">@item.Price.ToReadable() (VND)</span>
                        <span class="badge badge-primary">@item.IssueEstimation (phút)</span>

                        @if (item.End.HasValue)
                        {
                            <span class="badge badge-danger">@item.End.Value.ToShortDateString()</span>
                        }
                        <hr />
                        <div id="Alert-@item.Id.ToString()" class="container"></div>
                        @Html.Partial("Issues/_IssueMenu", item)
                    </li>
                }
            </ul>
        }
    </div>
</div>
