@model Mvc5.CafeT.vn.Models.ArticleModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ArticleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.Raw(Model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.Raw(Model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.Raw(Model.Tags)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CountViews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountViews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastViewAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastViewAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastViewBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastViewBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VietnameseContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VietnameseContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
