
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a class="my-0 mr-md-auto font-weight-normal" href="@Url.Content("~/Home/Index")">WorkCard.vn</a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="@Url.Content("~/Home/Index")">Trang chủ</a>
        <a class="p-2 text-dark" href="@Url.Content("~/WorkIssues/Index")">Cards</a>
        @*<a class="p-2 text-dark" href="@Url.Content("~/WorkIssues/Create")">New issue</a>*@
        @Ajax.ActionLink("Create issue", "LoadQuickIssue", "Home",
                       null,
                       new AjaxOptions
                       {
                           UpdateTargetId = "QuickIssue",
                           HttpMethod = "Get",
                           InsertionMode = InsertionMode.Replace
                       }, null)
        <a class="p-2 text-dark" href="@Url.Content("~/Projects/Index")">Projects</a>
        <a class="p-2 text-dark" href="@Url.Content("~/Home/Dashboards")">Dashboards</a>
        <a class="p-2 text-dark" href="@Url.Content("~/Contacts/Index")">Contacts</a>
        <a class="p-2 text-dark" href="#">Hướng dẫn</a>
    </nav>
    @Html.Partial("Partials/_LoginPartial")
</div>
<div id="QuickIssue"></div>