@model Mvc5.CafeT.vn.Models.ApplicationSetting

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadFolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadFolder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbServerIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbServerIp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbInstanceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbInstanceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailSmtp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailSmtp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailEnableSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailEnableSSL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
