@using Mvc5.CafeT.vn.Models;
@model Mvc5.CafeT.vn.Models.QuestionModel

@{
    ViewBag.Title = Model.Title;
}

@*<script>
    var dt = '@DateTime.Now.AddMinutes(Model.EstimationTime.Value).ToString("dd-MM-yyyy h:mm:ss tt")';
    var dateAr = dt.split('-');
    var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];

    var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {
            clearInterval(timer);
            document.getElementById('countdown').innerHTML = 'EXPIRED!';
            window.location.href = '/Account/Login';

            return;
        }
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        //document.getElementById('countdown').innerHTML = days + 'days ';
        document.getElementById('countdown').innerHTML = hours + 'hrs ';
        document.getElementById('countdown').innerHTML += minutes + 'mins ';
        document.getElementById('countdown').innerHTML += seconds + 'secs';
    }
    //if()
    //{

    //}
    timer = setInterval(showRemaining, 1000);
</script>*@

<div class="col-md-4">
    <h4>@Html.Raw(Model.Title)</h4>
    <hr />
    <span>
        @Html.Partial("Questions/_QuestionInfo", Model)
    </span>
    <span>
        @Html.Partial("Questions/_QuestionMenu", Model)
    </span>
    <br />
    @if (ViewBag.Article != null)
    {
        @Html.Raw(" | Trong: ")
        @Html.Partial("_ArticleTitle", (ArticleModel)ViewBag.Article)
    }
    @if (ViewBag.Job != null)
    {
        @Html.Raw(" | Trong: ")
        @Html.Partial("_Job", (JobModel)ViewBag.Job)
    }
    
    @*@if (ViewBag.Selected != null)
    {
        @Html.Raw(" | Selected: ")
        @Html.Partial("Messages/_Menus", (IEnumerable<string>)ViewBag.Selected)
    }*@
    <p>
        @Html.Raw(Model.Content)
    </p>

</div>
<div class="col-md-8">
    <div id="AjaxUpdate"></div>
    @if (User.Identity.IsAuthenticated && (Model.IsOf(User.Identity.Name) || (User.IsInRole("Admin"))))
    {
        @Ajax.ActionLink("Answers", "GetAnswers", "Questions", new { questionId = Model.Id },
                 new AjaxOptions
                 {
                     UpdateTargetId = "Answers",
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod = "Get"
                 }, null)
    }
  
    <div id="Answers">
        @Html.Partial("_Answers", Model)
    </div>
</div>


