@model Mvc5.CafeT.vn.ModelViews.ArticleView

<script type="text/javascript">
        $.get('@Url.Action("GetLastComment", "Comments", new { articleId = Model.Id })', function (data) {
            $('#LastComment-@Model.Id.ToString()').html(data);
        });
</script>


@Html.Partial("Articles/_ArticleHeader", Model)

@Html.Partial("Articles/_ArticleInfo", Model)


@if (!Model.AvatarPath.IsNullOrEmptyOrWhiteSpace())
{
    <div class="row">
        <div class="col-md-3">
            <img src="@Model.AvatarPath" width="180" height="150" />
        </div>
        <div class="col-md-9 text-justify">
            @Html.Raw(Model.Summary)
        </div>
    </div>

}
else if (!Model.Summary.IsNullOrEmptyOrWhiteSpace())
{
    <div class="text-justify">
        @Html.Raw(Model.Summary)
    </div>
}
<p>
    @Html.Partial("Articles/_ArticleMenu", Model)
</p>
<div id="LastComment-@Model.Id.ToString()"></div>

