@model Mvc5.CafeT.vn.ModelViews.ArticleView


@{
    string avatarUrl = string.Empty;
    <div class="post row clearfix">
        <div class="col-md-12">
            @if (Model.Images.Count > 0)
    {
        Model.ResizeImages("40%", "100%");
        <h4><a href="/Articles/Details/@Model.Id">@Model.Title</a></h4>
        <div class="news-img">
            <a href="/Articles/Details/@Model.Id">
                @Html.Raw(@avatarUrl);
            </a>
        </div>
        <p>
            @Html.Raw(Model.GetDescription(50))
        </p>
}
else
{
        <h4><a href="/Articles/Details/@Model.Id">@Model.Title</a></h4>
}
            @Html.Partial("Articles/_ArticleInfo", Model)
            @Html.Partial("Articles/_ArticleMenu", Model)
        </div>
    </div>
}
