@model Mvc5.CafeT.vn.ModelViews.ArticleView

<div class="text-info text-right">
    @if (Model.Category != null)
    {
        <span>
            <a href="javascript:void(0);"><i class="fa fa-clock-o"></i> @Model.Category.Name</a>
        </span>
    }
    <div class="small">
        @Html.Raw("By: " + Model.CreatedBy.GetFromBeginTo("@"))
        @*<span>
            @Html.Raw(@Model.Processor.TimeToRead.ToReadable() + " minutes")
            @Html.Raw(" | ")
            @Html.Raw(@Model.Processor.CountOfWords.ToReadable() + " words")
        </span>*@
        <span>
            <a href="javascript:void(0);"><i class="fa fa-clock-o"></i> 
            @Model.CreatedDate.TimeAgo()</a>
        </span>
        <small class="">&#124;</small>
        <span class=""><a href="javascript:void(0);">
            <i class="fa fa-eye"></i> @Model.CountViews</a>
        </span>
    </div>
</div>
