@model SmartTracking.ViewModels.ListPerformanceUsersViewModel

<div class="col-md-3 col-sm-3 col-xs-12">
    <div class="x_panel tile">
        <div class="x_title">
            <div class="clearfix"></div>
            <h2 class="red">(@String.Format("{0:dd/MM/yyyy}", @Model.Date))</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @foreach (var item in Model.PerformancesUsers)
            {
                <div class="widget_summary">
                    <div class="w_left w_25">
                        <span>@item.x</span>
                    </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@item.y" aria-valuemin="0" aria-valuemax="100" style="width: @item.y%;">
                                <span class="sr-only">@item.y% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="w_right w_20">
                        <span>@item.y.ToString("0")%</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</div>

