@model Mvc5.CafeT.vn.Models.ForgotPasswordViewModel
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "Quên mật khẩu";
}

<div class="col-md-12">
    <div class="widget">
        <div class="widget-title">
            <h4>Lấy lại mật khẩu</h4>
            <hr>
        </div><!-- end widget-title -->
        <div class="review-posts row m30">
            <div class="post-review col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Bạn có phải là Bot không ?", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.MathCaptcha()
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" class="btn btn-primary" value="Lấy lại mật khẩu" />
                        </div>
                    </div>
                }
            </div>
        </div><!-- end review-post -->
    </div><!-- end widget -->
</div><!-- end col -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}