<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="~/Content/material-dashboard-lite-master/images/DB_16х16.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorkCard.vn</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">*@
    <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <script src="~/Scripts/popper-utils.js"></script>
    <script src="~/Scripts/popper-utils.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
</head>
@*<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- SITE META -->
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4310341217187428",
            enable_page_level_ads: true
        });
    </script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
   

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
    </script>

    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/jquery")
</head>*@
<body>
    @RenderPage("~/Views/Shared/Templates/_Social.cshtml")
    <div id="wrapper">
        @RenderPage("~/Views/Shared/Templates/_Top.cshtml")
        @RenderPage("~/Views/Shared/Templates/_Menu.cshtml")
        <div class="container sitecontainer bgw">
            <div class="row">
                @Html.Partial("Account/_LoginPartial")
                @RenderBody()
            </div>
        </div>
        @RenderPage("~/Views/Shared/Templates/_Footer.cshtml")
    </div>
    <!-- END SITE -->
   
    <!--Page facebook-->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=378488572315838";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--Share Google-->
    <script type="text/javascript">
            window.___gcfg = { lang: 'vi' };
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(po, s);
            })();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>