<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- SITE META -->
    <title>ChuyenTin.vn - Đam mê tin học</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4310341217187428",
            enable_page_level_ads: true
        });
    </script>
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/Assets/Templates/Techmag/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Assets/Templates/Techmag/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Assets/Templates/Techmag/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Assets/Templates/Techmag/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Assets/Templates/Techmag/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Assets/Templates/Techmag/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Assets/Templates/Techmag/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Assets/Templates/Techmag/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Assets/Templates/Techmag/images/apple-touch-icon-152x152.png">
    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/Templates/Techmag/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Templates/Techmag/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Templates/Techmag/css/bbpress.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Templates/Techmag/style.css">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/Templates/Techmag/css/custom.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script language="javascript" type="text/javascript">
        SyntaxHighlighter.config.bloggerMode = true;
        SyntaxHighlighter.autoloader(
            'c-sharp csharp http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCSharp.js',
            'javascript jscript js http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js',
            'xml xhtml xslt html xhtml http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js'
        );
        SyntaxHighlighter.all();
    </script>

    <script src="~/Assets/Templates/Techmag/js/bootstrap.js"></script>
    <script src="~/Assets/Templates/Techmag/js/plugins.js"></script>
    
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" async
            src="  https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.2/showdown.min.js">
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
    </script>
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>
    @RenderPage("~/Views/Shared/Layouts/_Social.cshtml")
    <div id="wrapper">
        @RenderPage("~/Views/Shared/Layouts/_Top.cshtml")
        @RenderPage("~/Views/Shared/Layouts/_Menu.cshtml")
        <div class="container sitecontainer bgw">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        @RenderPage("~/Views/Shared/Layouts/_Footer.cshtml")
    </div>
    <!-- END SITE -->
   
    <!--Page facebook-->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=378488572315838";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--Share Google-->
    <script type="text/javascript">
            window.___gcfg = { lang: 'vi' };
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(po, s);
            })();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>