@model IEnumerable<Mvc5.CafeT.vn.Models.AnswerReviewModel>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.Raw("Điểm: " + item.Marks) @Html.Raw(" | ")
            @Html.Raw("Đánh giá: " + item.IsCorrect)
            @if (!item.Content.IsNullOrEmptyOrWhiteSpace())
            {
                <p>
                    @Html.Raw("Nhận xét <br />" + item.Content)
                </p>
            }
            @if (User.Identity.IsAuthenticated && User.Identity.Name == item.CreatedBy)
            {
                <p>
                    @Html.ActionLink("Edit", "Edit", "AnswerReviewModels", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "AnswerReviewModels", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "AnswerReviewModels", new { id = item.Id }, null)
                </p>
            }
           <h6>
               @Html.Raw("Review by: " + item.ReviewBy)
               @Html.Raw(" | " + item.ReviewDate.Value.TimeAgo())
           </h6>
        </li>
    }
</ul>

