@model Mvc5.CafeT.vn.Models.AnswerModel

<div class="panel panel-success">
    <div class="panel-heading">
        <h4>
            @Html.Raw(Model.Name)
        </h4>
        <span>
            @Html.Raw("Views: " + Model.CountViews)
            @Html.Raw("Trả lời bởi: " + Model.CreatedBy)
            @Html.Raw("lúc: " + Model.CreatedDate.ToShortDateString())
            @if (Model.LastUpdatedDate.HasValue)
            {
                @Html.Raw("Sửa lần cuối bởi: " + Model.LastUpdatedBy)
                @Html.Raw("lúc: " + Model.LastUpdatedDate.Value.ToShortDateString())
            }
        </span>
    </div>
    <p>
        @Html.Raw(Model.Content)
    </p>
    <div class="panel-footer">
        @if (!Model.IsCorrect)
        {
            <p>
                Rất tiếc, bạn đã trả lời sai. Vui lòng trả lời lại
                <br />
                @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.CreatedBy)
                {
                    if (Model.QuestionId.HasValue)
                    {
                        @Html.ActionLink("Re-Answer", "AddAnswer", "Questions", new { id = Model.QuestionId.Value }, null)
                    }
                }
            </p>
        }
        <p>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Review answer", "AddReview", "Answers", new { answerId = Model.Id }, null)
                if (Model.IsOf(User.Identity.Name))
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Edit", "Edit", "Answers", new { id = Model.Id }, null)
                }
            }
            else
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Back to List", "Index")
            }
        </p>
        <p>
            @if (Model.Reviews != null && Model.Reviews.Count() > 0)
            {
                <h4>
                    Đánh giá - Nhận xét
                </h4>
                @Html.Partial("_AnswerReviews", Model.Reviews)
            }
        </p>
    </div>
</div>