@model Mvc5.CafeT.vn.Models.WordModel

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
        $.get('@Url.Action("GoogleDefinite", "Google", new { keywords = Model.Model.Value})', function (data) {
            $('#Results').html(data);
        });
</script>
<script type="text/javascript">
        $.get('@Url.Action("GoogleImages", "Google", new { keywords = Model.Model.Value})', function (data) {
            $('#Images').html(data);
        });
</script>
<h2>@Model.Model.Value</h2>

<div>
    <h4>WordModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemembered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemembered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viewers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viewers)
        </dd>

    </dl>
    
</div>
<div id="Results"></div>
<div id="Images"></div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
