@{
    ViewBag.Title = "WorkCard.vn - Quản trị công việc 4.0";
}

<script type="text/javascript">
    $.get('@Url.Action("GetLastQuestions", "Questions", new { n = 5 })',
        function (data) {
            $('#questions-box').html(data);
        });
</script>
<script type="text/javascript">
    $.get('@Url.Action("GetCompletedIssues", "WorkIssues", new { page = 1 })',
        function (data) {
            $('#completed-box').html(data);
        });
</script>
<script type="text/javascript">
    $.get('@Url.Action("GetTodayIssues", "WorkIssues", new { page = 1 })',
        function (data) {
            $('#today-box').html(data);
        });
</script>
<script type="text/javascript">
    $.get('@Url.Action("GetExpiredIssues", "WorkIssues", new { page = 1 })',
        function (data) {
            $('#expired-box').html(data);
        });
</script>
<script type="text/javascript">
    $.get('@Url.Action("GetToVerifyIssues", "WorkIssues", new { page = 1 })',
        function (data) {
            $('#verify-box').html(data);
        });
</script>
<script type="text/javascript">
    $.get('@Url.Action("GetUpcomingIssues", "WorkIssues", new { page = 1 })',
        function (data) {
            $('#upcomming-box').html(data);
        });
</script>
<script type="text/javascript">
    $.get('@Url.Action("GetLastestArticles", "Articles", new { n = 1})',
        function (data) {
            $('#articles-box').html(data);
        });
</script>

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        @Html.Partial("Partials/_About")
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <div id="today-box"></div>
        </div>
        <div class="col-md-4">
            <div id="verify-box"></div>
            <div id="upcomming-box"></div>
        </div>
        <div class="col-md-4">
            <div id="summary-box"></div>
            <div id="articles-box"></div>
            <div id="questions-box"></div>
            <div id="completed-box"></div>
        </div>
    </div>
}